<div class="login-button-container">
  <div class="login-button-vertical-center">
    <%= button_to user_marvin_omniauth_authorize_path, class: "btn btn-outline-light", id: "button-signin" do %>
      Sign in with <%= show_svg('42_Logo.svg') %></div>
    <% end %>
  </div>
</div>
