<script type="text/template" id="settings-template">
  <h1>Settings</h1>
  <table class="settings"><tr>
    <th class="table-avatar">
      <aside class="col-md-4">
        <section>
          <img class="user_avatar" width="100px" height="100px"
               src="<%%= avatar_url %>" style="margin-bottom: 10px">
            <%# begin %>
              <%#= image_tag current_user.avatar_url, size: "100x100", class: "user_avatar"%>
            <%# rescue %>
              <%#= image_tag current_user.avatar_default_url, size: "100x100", class: "user_avatar"%>
            <%# end %>
            <!--<input type="file" id="upload_user_avatar" style="display: none;" />-->
            <p>
              <input type="text" class="form-control upload_user_avatar"
                     placeholder="Image URL" style="width: auto">
            </p>
        </section>
      </aside>
    </th>
  </tr>
  <tr>
    <td>
      <p>
        <label for="displayname">Display name</label>
        <input type="text" class="form-control" name="displayname" id="displayname" value="<%%= displayname %>" >
      </p>
      <p>
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" id="email" value="<%%= email %>" >
      </p>
    </td>
  </tr>
  </table>
  <div class="two-factor-header">
    <p>Two Factor Authentification
        <button type="button" class="btn btn-dark" id="2fa-button">Show</button>
    </p>
  </div>
  <table class="settings two-factor-body"></table>
</script>

<script type="text/template" id="settings-2fa-template">
  <th style="width: 300px">
    <p>2FA is <%%= otp_required_for_login ? '<span class="alert alert-success">Enabled</span>' :
                                            '<span class="alert alert-danger">Disabled</span>' %></p>
    <p <%%= otp_required_for_login ? 'style="display:none;"' : '' %>>
      To enable 2FA you need to install an Authenticator App
      on your phone and scan the QR Code
    </p>
    <p>
      Insert one-time password you get from your app and press enter
      <%%= otp_required_for_login ? 'to disable 2FA' : 'to enable 2FA' %>
    </p>
    <p>
      <input type="text" class="form-control input-otp" placeholder="2FA OTP">
    </p>
  </th>
  <th>
    <div class="qrcode" <%%= otp_required_for_login ? 'style="display:none;"' : '' %>>
      <%%= otp_qrcode %>
    </div>
    <div class="2fakey-icon"
      <%%= otp_required_for_login ? 'style="width:150px;"' : 'style="display:none;"' %>>
      <%= show_svg('key.svg') %>
    </div>
  </th>
</script>
