// Place all the styles related to the Api/TwoFactor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.qrcode {
  background: white;
  width: fit-content;
  height: fit-content;
}

div.qrcode svg {
  width: auto;
  height: auto;
  margin: 10px;
}
